.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(30px);

  @media (min-width: $mantine-breakpoint-md) {
    font-size: rem(50px);
    letter-spacing: rem(-1px);
  }

  @media (min-width: $mantine-breakpoint-lg) {
    font-size: rem(70px);
    letter-spacing: rem(-2px);
  }
}
